<link rel="stylesheet" href="/footer.css">

<footer class="pie">
        <div class="contactos">
                <a class="logoface" href="https://www.facebook.com/"><img class="face" src="./imagen/facebook.png" alt="icono-facebook"></a>
                <a class="logoinsta" href="https://www.instagram.com/"><img class="insta" src="./imagen/instagram.png" alt="icono-instagram"></a>
                <a class="logowhatsapp" href="https://web.whatsapp.com/"><img class="whatsapp" src="./imagen/whatsapp.png" alt="icono-youtube"></a>
        </div>     
</footer>
