.fondo{
    height: 100%;
    background-image: url("https://i.gifer.com/KV2j.gif");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    padding: 0 100px 0 100px;
    }

/* HOME */

.retourner { 
    display:flex;
    justify-content: start;
}

.iconohome {
    width: 50px;
    transition-duration: 1.5s;
}

.iconohome:hover {
    transform: rotateY(180deg);
}

h1 {
  font-family: fantasy;
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); 
  grid-template-rows: minmax(auto, 1fr); 
  gap:1rem;
  justify-content: center;
}

p{
  max-width: 40ch;
}

.maps {
  display: flex;
  padding: 0.5rem 3rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
  background-color: cornflowerblue;    
  width: 20rem;
  height: 30rem;  
}

.mapas {
    width: 20rem;
    height: 30rem;
}